.header {
    &__content {
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding: 20.5px 0;

        @media(max-width: 704px) {
            flex-direction: column;
            gap: 16px;
            padding: 16px 0;
        }
    }       
}

.header-list {
    display: flex;
    gap: 64px;
}

.anchor-link {
    color: $fontColor;
    text-decoration: none;
    font-family: inherit;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;

    @include hover-link($contextColor);
}



