.container {
    max-width: 1440px;
    background-color: $backgroundMain;
    padding: 0 120px;
}

ul, ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
} 

.logo {
    width: 146px;
    display: block;

    img, svg {
        width: 100%;
        height: 100%;
    }
}

